body{
	padding: 15px;
	background-color: #52B2CF;
}

div.col-sm-4{
	padding: 5px;
}

div.col-sm-12{
	padding: 5px;
	margin: 0, auto;
	background-color: #B1F8F2;
}

div.container, input{
	font-family: 'playfair-display', serif;
	font-size: 25px;
	background-color: #52B2CF;
}

div.Paragraph1, input{
	font-family: 'quicksand-light-webfont';
	font-size: 16px;
}

