body{
	padding: 15px;
	background-color: #52B2CF;
}

div.col-sm-4{
	padding: 5px;
}

div.About-me{
	padding: 150px;
	margin: 0, auto;
	position: relative;
	background-color: #B1F8F2;
}

div.container, input{
	font-family: 'playfair-display', serif;
	font-size: 25px;
	background-color: #52B2CF;
}

div.Hyperlinks, input{
	font-family: 'quicksand-light-webfont';
	font-size: 16px;
}

@media only screen and (max-width: 600px) {

}

@media only screen and (max-width: 768px) {

}